<html lang="en">
<head>
<!-- Clarity tracking code for https://www.ogdp.in/ --><script>    (function(c,l,a,r,i,t,y){        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i+"?ref=bwt";        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);    })(window, document, "clarity", "script", "k5nuu4meay");</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/graph.css') }}">
    <title>Minimum depth-wise Earthquake count</title>
</head>
<body>
    <header>
        <div class="header">
            <h1>Minimum depth-wise Earthquake count</h1>
        </div>
        <div class="nav-container">
            <nav>
                <a href="/" class="home-btn">Home</a>
            </nav>
        </div>
    </header>

    <div class="image-container">
                <img src="{{ url_for('static', filename='images/2023min0.png') }}" alt="depth 0 to 100km & Min-Mag 4">
                <img src="{{ url_for('static', filename='images/2023min100.png') }}" alt="Min-depth 100km">
    </div>

<td colspan="3" align="left" valign="middle">Graph prepared by <a href="https://orcid.org/0009-0009-8817-4585">Karthik Subramaniam</a> for <a href="http://www.ogdp.in/">www.ogdp.in</a></td>
