<html lang="en">
<head>
<!-- Clarity tracking code for https://www.ogdp.in/ --><script>    (function(c,l,a,r,i,t,y){        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i+"?ref=bwt";        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);    })(window, document, "clarity", "script", "k5nuu4meay");</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/graph.css') }}">
    <title>Latitude-wise Minimum M6 Earthquake Count</title>
</head>
<body>
    <header>
        <div class="header">
            <h1>Latitude-wise Minimum M6 Earthquake Count</h1>
        </div>
        <div class="nav-container">
            <nav>
                <a href="/" class="home-btn">Home</a>
            </nav>
        </div>
    </header>

    <div class="image-container">
        <img src="{{ url_for('static', filename='images/quakemap.png') }}" alt="Latitude-wise Minimum M6 Earthquake Count">
    </div>
		<td colspan=5 height="17" align="left" valign=middle>Data source used USGS and Graph prepared by <a href="https://orcid.org/0009-0009-8817-4585">Karthik Subramaniam</a> for <a href="http://www.ogdp.in/">www.ogdp.in</a></td>
	</tr>
    <table>
        <tr>
            <th>Latitude</th>
            <th>Count</th>
        </tr>
	<tr>
		<td height="17" align="right" sdval="-90" sdnum="16393;">-90</td>
		<td align="right" sdval="0" sdnum="16393;">0</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-89" sdnum="16393;">-89</td>
		<td align="right" sdval="0" sdnum="16393;">0</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-88" sdnum="16393;">-88</td>
		<td align="right" sdval="0" sdnum="16393;">0</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-87" sdnum="16393;">-87</td>
		<td align="right" sdval="0" sdnum="16393;">0</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-86" sdnum="16393;">-86</td>
		<td align="right" sdval="0" sdnum="16393;">0</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-85" sdnum="16393;">-85</td>
		<td align="right" sdval="0" sdnum="16393;">0</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-84" sdnum="16393;">-84</td>
		<td align="right" sdval="0" sdnum="16393;">0</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-83" sdnum="16393;">-83</td>
		<td align="right" sdval="0" sdnum="16393;">0</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-82" sdnum="16393;">-82</td>
		<td align="right" sdval="0" sdnum="16393;">0</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-81" sdnum="16393;">-81</td>
		<td align="right" sdval="0" sdnum="16393;">0</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-80" sdnum="16393;">-80</td>
		<td align="right" sdval="0" sdnum="16393;">0</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-79" sdnum="16393;">-79</td>
		<td align="right" sdval="0" sdnum="16393;">0</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-78" sdnum="16393;">-78</td>
		<td align="right" sdval="0" sdnum="16393;">0</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-77" sdnum="16393;">-77</td>
		<td align="right" sdval="0" sdnum="16393;">0</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-76" sdnum="16393;">-76</td>
		<td align="right" sdval="0" sdnum="16393;">0</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-75" sdnum="16393;">-75</td>
		<td align="right" sdval="0" sdnum="16393;">0</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-74" sdnum="16393;">-74</td>
		<td align="right" sdval="0" sdnum="16393;">0</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-73" sdnum="16393;">-73</td>
		<td align="right" sdval="0" sdnum="16393;">0</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-72" sdnum="16393;">-72</td>
		<td align="right" sdval="0" sdnum="16393;">0</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-71" sdnum="16393;">-71</td>
		<td align="right" sdval="0" sdnum="16393;">0</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-70" sdnum="16393;">-70</td>
		<td align="right" sdval="1" sdnum="16393;">1</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-69" sdnum="16393;">-69</td>
		<td align="right" sdval="0" sdnum="16393;">0</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-68" sdnum="16393;">-68</td>
		<td align="right" sdval="0" sdnum="16393;">0</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-67" sdnum="16393;">-67</td>
		<td align="right" sdval="0" sdnum="16393;">0</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-66" sdnum="16393;">-66</td>
		<td align="right" sdval="1" sdnum="16393;">1</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-65" sdnum="16393;">-65</td>
		<td align="right" sdval="0" sdnum="16393;">0</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-64" sdnum="16393;">-64</td>
		<td align="right" sdval="2" sdnum="16393;">2</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-63" sdnum="16393;">-63</td>
		<td align="right" sdval="7" sdnum="16393;">7</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-62" sdnum="16393;">-62</td>
		<td align="right" sdval="8" sdnum="16393;">8</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-61" sdnum="16393;">-61</td>
		<td align="right" sdval="36" sdnum="16393;">36</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-60" sdnum="16393;">-60</td>
		<td align="right" sdval="41" sdnum="16393;">41</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-59" sdnum="16393;">-59</td>
		<td align="right" sdval="14" sdnum="16393;">14</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-58" sdnum="16393;">-58</td>
		<td align="right" sdval="33" sdnum="16393;">33</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-57" sdnum="16393;">-57</td>
		<td align="right" sdval="27" sdnum="16393;">27</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-56" sdnum="16393;">-56</td>
		<td align="right" sdval="69" sdnum="16393;">69</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-55" sdnum="16393;">-55</td>
		<td align="right" sdval="33" sdnum="16393;">33</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-54" sdnum="16393;">-54</td>
		<td align="right" sdval="20" sdnum="16393;">20</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-53" sdnum="16393;">-53</td>
		<td align="right" sdval="10" sdnum="16393;">10</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-52" sdnum="16393;">-52</td>
		<td align="right" sdval="11" sdnum="16393;">11</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-51" sdnum="16393;">-51</td>
		<td align="right" sdval="11" sdnum="16393;">11</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-50" sdnum="16393;">-50</td>
		<td align="right" sdval="21" sdnum="16393;">21</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-49" sdnum="16393;">-49</td>
		<td align="right" sdval="7" sdnum="16393;">7</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-48" sdnum="16393;">-48</td>
		<td align="right" sdval="9" sdnum="16393;">9</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-47" sdnum="16393;">-47</td>
		<td align="right" sdval="7" sdnum="16393;">7</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-46" sdnum="16393;">-46</td>
		<td align="right" sdval="13" sdnum="16393;">13</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-45" sdnum="16393;">-45</td>
		<td align="right" sdval="23" sdnum="16393;">23</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-44" sdnum="16393;">-44</td>
		<td align="right" sdval="6" sdnum="16393;">6</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-43" sdnum="16393;">-43</td>
		<td align="right" sdval="13" sdnum="16393;">13</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-42" sdnum="16393;">-42</td>
		<td align="right" sdval="15" sdnum="16393;">15</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-41" sdnum="16393;">-41</td>
		<td align="right" sdval="8" sdnum="16393;">8</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-40" sdnum="16393;">-40</td>
		<td align="right" sdval="9" sdnum="16393;">9</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-39" sdnum="16393;">-39</td>
		<td align="right" sdval="15" sdnum="16393;">15</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-38" sdnum="16393;">-38</td>
		<td align="right" sdval="20" sdnum="16393;">20</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-37" sdnum="16393;">-37</td>
		<td align="right" sdval="34" sdnum="16393;">34</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-36" sdnum="16393;">-36</td>
		<td align="right" sdval="34" sdnum="16393;">34</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-35" sdnum="16393;">-35</td>
		<td align="right" sdval="33" sdnum="16393;">33</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-34" sdnum="16393;">-34</td>
		<td align="right" sdval="21" sdnum="16393;">21</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-33" sdnum="16393;">-33</td>
		<td align="right" sdval="40" sdnum="16393;">40</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-32" sdnum="16393;">-32</td>
		<td align="right" sdval="47" sdnum="16393;">47</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-31" sdnum="16393;">-31</td>
		<td align="right" sdval="54" sdnum="16393;">54</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-30" sdnum="16393;">-30</td>
		<td align="right" sdval="67" sdnum="16393;">67</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-29" sdnum="16393;">-29</td>
		<td align="right" sdval="50" sdnum="16393;">50</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-28" sdnum="16393;">-28</td>
		<td align="right" sdval="37" sdnum="16393;">37</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-27" sdnum="16393;">-27</td>
		<td align="right" sdval="35" sdnum="16393;">35</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-26" sdnum="16393;">-26</td>
		<td align="right" sdval="29" sdnum="16393;">29</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-25" sdnum="16393;">-25</td>
		<td align="right" sdval="29" sdnum="16393;">29</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-24" sdnum="16393;">-24</td>
		<td align="right" sdval="47" sdnum="16393;">47</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-23" sdnum="16393;">-23</td>
		<td align="right" sdval="78" sdnum="16393;">78</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-22" sdnum="16393;">-22</td>
		<td align="right" sdval="124" sdnum="16393;">124</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-21" sdnum="16393;">-21</td>
		<td align="right" sdval="114" sdnum="16393;">114</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-20" sdnum="16393;">-20</td>
		<td align="right" sdval="103" sdnum="16393;">103</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-19" sdnum="16393;">-19</td>
		<td align="right" sdval="79" sdnum="16393;">79</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-18" sdnum="16393;">-18</td>
		<td align="right" sdval="116" sdnum="16393;">116</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-17" sdnum="16393;">-17</td>
		<td align="right" sdval="79" sdnum="16393;">79</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-16" sdnum="16393;">-16</td>
		<td align="right" sdval="93" sdnum="16393;">93</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-15" sdnum="16393;">-15</td>
		<td align="right" sdval="133" sdnum="16393;">133</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-14" sdnum="16393;">-14</td>
		<td align="right" sdval="72" sdnum="16393;">72</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-13" sdnum="16393;">-13</td>
		<td align="right" sdval="35" sdnum="16393;">35</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-12" sdnum="16393;">-12</td>
		<td align="right" sdval="28" sdnum="16393;">28</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-11" sdnum="16393;">-11</td>
		<td align="right" sdval="107" sdnum="16393;">107</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-10" sdnum="16393;">-10</td>
		<td align="right" sdval="69" sdnum="16393;">69</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-9" sdnum="16393;">-9</td>
		<td align="right" sdval="54" sdnum="16393;">54</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-8" sdnum="16393;">-8</td>
		<td align="right" sdval="81" sdnum="16393;">81</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-7" sdnum="16393;">-7</td>
		<td align="right" sdval="148" sdnum="16393;">148</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-6" sdnum="16393;">-6</td>
		<td align="right" sdval="223" sdnum="16393;">223</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-5" sdnum="16393;">-5</td>
		<td align="right" sdval="167" sdnum="16393;">167</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-4" sdnum="16393;">-4</td>
		<td align="right" sdval="121" sdnum="16393;">121</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-3" sdnum="16393;">-3</td>
		<td align="right" sdval="90" sdnum="16393;">90</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-2" sdnum="16393;">-2</td>
		<td align="right" sdval="79" sdnum="16393;">79</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="-1" sdnum="16393;">-1</td>
		<td align="right" sdval="94" sdnum="16393;">94</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="0" sdnum="16393;">0</td>
		<td align="right" sdval="72" sdnum="16393;">72</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="1" sdnum="16393;">1</td>
		<td align="right" sdval="90" sdnum="16393;">90</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="2" sdnum="16393;">2</td>
		<td align="right" sdval="72" sdnum="16393;">72</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="3" sdnum="16393;">3</td>
		<td align="right" sdval="45" sdnum="16393;">45</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="4" sdnum="16393;">4</td>
		<td align="right" sdval="48" sdnum="16393;">48</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="5" sdnum="16393;">5</td>
		<td align="right" sdval="47" sdnum="16393;">47</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="6" sdnum="16393;">6</td>
		<td align="right" sdval="56" sdnum="16393;">56</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="7" sdnum="16393;">7</td>
		<td align="right" sdval="70" sdnum="16393;">70</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="8" sdnum="16393;">8</td>
		<td align="right" sdval="46" sdnum="16393;">46</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="9" sdnum="16393;">9</td>
		<td align="right" sdval="34" sdnum="16393;">34</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="10" sdnum="16393;">10</td>
		<td align="right" sdval="51" sdnum="16393;">51</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="11" sdnum="16393;">11</td>
		<td align="right" sdval="50" sdnum="16393;">50</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="12" sdnum="16393;">12</td>
		<td align="right" sdval="66" sdnum="16393;">66</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="13" sdnum="16393;">13</td>
		<td align="right" sdval="41" sdnum="16393;">41</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="14" sdnum="16393;">14</td>
		<td align="right" sdval="65" sdnum="16393;">65</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="15" sdnum="16393;">15</td>
		<td align="right" sdval="35" sdnum="16393;">35</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="16" sdnum="16393;">16</td>
		<td align="right" sdval="40" sdnum="16393;">40</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="17" sdnum="16393;">17</td>
		<td align="right" sdval="32" sdnum="16393;">32</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="18" sdnum="16393;">18</td>
		<td align="right" sdval="43" sdnum="16393;">43</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="19" sdnum="16393;">19</td>
		<td align="right" sdval="69" sdnum="16393;">69</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="20" sdnum="16393;">20</td>
		<td align="right" sdval="19" sdnum="16393;">19</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="21" sdnum="16393;">21</td>
		<td align="right" sdval="15" sdnum="16393;">15</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="22" sdnum="16393;">22</td>
		<td align="right" sdval="20" sdnum="16393;">20</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="23" sdnum="16393;">23</td>
		<td align="right" sdval="33" sdnum="16393;">33</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="24" sdnum="16393;">24</td>
		<td align="right" sdval="59" sdnum="16393;">59</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="25" sdnum="16393;">25</td>
		<td align="right" sdval="31" sdnum="16393;">31</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="26" sdnum="16393;">26</td>
		<td align="right" sdval="21" sdnum="16393;">21</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="27" sdnum="16393;">27</td>
		<td align="right" sdval="34" sdnum="16393;">34</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="28" sdnum="16393;">28</td>
		<td align="right" sdval="42" sdnum="16393;">42</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="29" sdnum="16393;">29</td>
		<td align="right" sdval="32" sdnum="16393;">32</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="30" sdnum="16393;">30</td>
		<td align="right" sdval="30" sdnum="16393;">30</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="31" sdnum="16393;">31</td>
		<td align="right" sdval="39" sdnum="16393;">39</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="32" sdnum="16393;">32</td>
		<td align="right" sdval="15" sdnum="16393;">15</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="33" sdnum="16393;">33</td>
		<td align="right" sdval="34" sdnum="16393;">34</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="34" sdnum="16393;">34</td>
		<td align="right" sdval="38" sdnum="16393;">38</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="35" sdnum="16393;">35</td>
		<td align="right" sdval="39" sdnum="16393;">39</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="36" sdnum="16393;">36</td>
		<td align="right" sdval="97" sdnum="16393;">97</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="37" sdnum="16393;">37</td>
		<td align="right" sdval="76" sdnum="16393;">76</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="38" sdnum="16393;">38</td>
		<td align="right" sdval="88" sdnum="16393;">88</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="39" sdnum="16393;">39</td>
		<td align="right" sdval="57" sdnum="16393;">57</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="40" sdnum="16393;">40</td>
		<td align="right" sdval="71" sdnum="16393;">71</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="41" sdnum="16393;">41</td>
		<td align="right" sdval="32" sdnum="16393;">32</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="42" sdnum="16393;">42</td>
		<td align="right" sdval="44" sdnum="16393;">44</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="43" sdnum="16393;">43</td>
		<td align="right" sdval="45" sdnum="16393;">45</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="44" sdnum="16393;">44</td>
		<td align="right" sdval="59" sdnum="16393;">59</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="45" sdnum="16393;">45</td>
		<td align="right" sdval="34" sdnum="16393;">34</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="46" sdnum="16393;">46</td>
		<td align="right" sdval="32" sdnum="16393;">32</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="47" sdnum="16393;">47</td>
		<td align="right" sdval="19" sdnum="16393;">19</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="48" sdnum="16393;">48</td>
		<td align="right" sdval="12" sdnum="16393;">12</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="49" sdnum="16393;">49</td>
		<td align="right" sdval="33" sdnum="16393;">33</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="50" sdnum="16393;">50</td>
		<td align="right" sdval="37" sdnum="16393;">37</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="51" sdnum="16393;">51</td>
		<td align="right" sdval="94" sdnum="16393;">94</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="52" sdnum="16393;">52</td>
		<td align="right" sdval="82" sdnum="16393;">82</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="53" sdnum="16393;">53</td>
		<td align="right" sdval="40" sdnum="16393;">40</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="54" sdnum="16393;">54</td>
		<td align="right" sdval="33" sdnum="16393;">33</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="55" sdnum="16393;">55</td>
		<td align="right" sdval="37" sdnum="16393;">37</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="56" sdnum="16393;">56</td>
		<td align="right" sdval="26" sdnum="16393;">26</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="57" sdnum="16393;">57</td>
		<td align="right" sdval="12" sdnum="16393;">12</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="58" sdnum="16393;">58</td>
		<td align="right" sdval="6" sdnum="16393;">6</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="59" sdnum="16393;">59</td>
		<td align="right" sdval="4" sdnum="16393;">4</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="60" sdnum="16393;">60</td>
		<td align="right" sdval="11" sdnum="16393;">11</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="61" sdnum="16393;">61</td>
		<td align="right" sdval="9" sdnum="16393;">9</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="62" sdnum="16393;">62</td>
		<td align="right" sdval="7" sdnum="16393;">7</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="63" sdnum="16393;">63</td>
		<td align="right" sdval="0" sdnum="16393;">0</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="64" sdnum="16393;">64</td>
		<td align="right" sdval="6" sdnum="16393;">6</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="65" sdnum="16393;">65</td>
		<td align="right" sdval="1" sdnum="16393;">1</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="66" sdnum="16393;">66</td>
		<td align="right" sdval="2" sdnum="16393;">2</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="67" sdnum="16393;">67</td>
		<td align="right" sdval="1" sdnum="16393;">1</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="68" sdnum="16393;">68</td>
		<td align="right" sdval="2" sdnum="16393;">2</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="70" sdnum="16393;">70</td>
		<td align="right" sdval="2" sdnum="16393;">2</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="71" sdnum="16393;">71</td>
		<td align="right" sdval="5" sdnum="16393;">5</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="72" sdnum="16393;">72</td>
		<td align="right" sdval="2" sdnum="16393;">2</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="73" sdnum="16393;">73</td>
		<td align="right" sdval="1" sdnum="16393;">1</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="74" sdnum="16393;">74</td>
		<td align="right" sdval="1" sdnum="16393;">1</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="75" sdnum="16393;">75</td>
		<td align="right" sdval="1" sdnum="16393;">1</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="76" sdnum="16393;">76</td>
		<td align="right" sdval="1" sdnum="16393;">1</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="77" sdnum="16393;">77</td>
		<td align="right" sdval="1" sdnum="16393;">1</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="78" sdnum="16393;">78</td>
		<td align="right" sdval="1" sdnum="16393;">1</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="79" sdnum="16393;">79</td>
		<td align="right" sdval="3" sdnum="16393;">3</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="80" sdnum="16393;">80</td>
		<td align="right" sdval="2" sdnum="16393;">2</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="81" sdnum="16393;">81</td>
		<td align="right" sdval="0" sdnum="16393;">0</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="82" sdnum="16393;">82</td>
		<td align="right" sdval="0" sdnum="16393;">0</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="83" sdnum="16393;">83</td>
		<td align="right" sdval="0" sdnum="16393;">0</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="84" sdnum="16393;">84</td>
		<td align="right" sdval="0" sdnum="16393;">0</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="85" sdnum="16393;">85</td>
		<td align="right" sdval="1" sdnum="16393;">1</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="86" sdnum="16393;">86</td>
		<td align="right" sdval="0" sdnum="16393;">0</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="87" sdnum="16393;">87</td>
		<td align="right" sdval="0" sdnum="16393;">0</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="88" sdnum="16393;">88</td>
		<td align="right" sdval="0" sdnum="16393;">0</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="89" sdnum="16393;">89</td>
		<td align="right" sdval="0" sdnum="16393;">0</td>

	</tr>
	<tr>
		<td height="17" align="right" sdval="90" sdnum="16393;">90</td>
		<td align="right" sdval="0" sdnum="16393;">0</td>

	</tr>
</table>
<!-- ************************************************************************** -->
</body>

</html>
